version: '3.7'
services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins2
    privileged: true
    user: root
    ports:
      - 8888:8080
      - 50000:50000
    volumes:
      - /home/{{ admin_user_name }}/jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker
    links:
      - gitlab:gitlabsrv

  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: 'gitlab'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "{{ external_url }}"
    ports:
      - '8080:80'
      - '443:443'
      - '22000:22'  # 22000 to avoid SSH port conflict
    volumes:
      - '/home/{{ admin_user_name }}/gitlab/config:/etc/gitlab'
      - '/home/{{ admin_user_name }}/gitlab/log:/var/log/gitlab'
      - '/home/{{ admin_user_name }}/gitlab/data:/var/opt/gitlab'
